server {

    listen 443 ssl default deferred;
    server_name {{ domain_name }};

    {% include './partials/ssl.j2' %}

    location /app {
        rewrite ^ https://{{ domain_name }} redirect;
    }

    location / {
        {% include './partials/gzip.j2' %}
        root /var/www/html/{{ folder }};
    }

}
