[Unit]
Description=The WildFly Application Server
After=syslog.target network.target
Before=nginx.service

[Service]
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
EnvironmentFile=/etc/default/wildfly
User=wildfly
LimitNOFILE=102642
PIDFile=/var/run/wildfly/wildfly.pid
ExecStart={{wildfly_home}}/bin/standalone.sh -c $WILDFLY_CONFIG -b $WILDFLY_BIND
StandardOutput=null

[Install]
WantedBy=multi-user.target
