{% for live_gui in live_guis %}
upstream wildfly-websocket-{{ live_gui.name }} {
    server 127.0.0.1:{{ live_gui.port }};
}

server {
    listen {{ domain_name }}:{{ live_gui.port }} ssl deferred;
    server_name {{ domain_name }}{% if alternative_domain_name is defined %} {{ alternative_domain_name }}{% endif %};

    {% include './partials/ssl.j2' %}

    proxy_buffers 16 64k;
    proxy_buffer_size 128k;

    client_max_body_size 100m;

    location / {
        gzip                on;
        gzip_min_length     1000;
        gzip_proxied        any;
        gzip_types          application/javascript text/css;
        proxy_pass          http://wildfly-websocket-{{ live_gui.name }}/;
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_redirect      off;
        proxy_set_header    Host            $host;
        proxy_set_header    X-Real-IP       $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto https;
        proxy_read_timeout  8h;
    }

}
{% endfor %}
