upstream wildfly {
    server 127.0.0.1:8080;
}

{% if deployment_tier != 'production' %}
upstream mailcatcher {
    server 127.0.0.1:1080;
}
{% endif %}

server {
    listen {{ domain_name }}:443 ssl default deferred;
    server_name {{ domain_name }};

    {% include './partials/ssl.j2' %}

    proxy_buffers 16 64k;
    proxy_buffer_size 128k;

    client_max_body_size {{ client_max_body_size }};

{% if deployment_tier != 'production' %}
   location /mailcatcher {
        proxy_pass http://mailcatcher/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 1d;
        sub_filter 'src="/'     'src="/mailcatcher/';
        sub_filter 'href="/'    'href="/mailcatcher/';
        sub_filter 'url(/'      'url(/mailcatcher/';
        sub_filter '"/messages' '"/mailcatcher/messages';
        sub_filter_types text/html text/css application/javascript;
        sub_filter_once off;
    }
{% endif %}

    location /dywa {
        {% include './partials/proxy-basics.j2' %}
        proxy_pass  http://wildfly;
        proxy_set_header        Authorization "";

        auth_basic              "Protected";
        auth_basic_user_file    /etc/nginx/basic_auth;
    }

    location /app/ {
        {% include './partials/proxy-basics.j2' %}
        {% include './partials/gzip.j2' %}
        proxy_pass  		    http://wildfly/app/;
        error_page              502 /502;
    }

    location = /502 {
        default_type text/plain;
        internal;
        alias /var/www/html/error/502.txt;
    }

    location / {
        rewrite ^/$ https://{{ domain_name }}/app redirect;
    }

}
